<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :alley_id, class: 'form-label' %>
    <%= form.select(:alley_id,
                    options_for_select(@alleys.map{|a| ["#{a.name} - #{a.address.city}, #{a.address.state}", a.id]}),
                    { },
                    {class: 'form-control selectpicker', prompt: 'Select One', 'data-live-search': "true"}
        )
    %>
    <small id="emailHelp" class="form-text text-primary"><%= link_to 'Alley not found?', new_alley_path %></small>
  </div>
  <div class="mb-3 form-row">
    <%= form.label :starts_at, class: 'form-label' %>
    <%= form.datetime_select :starts_at, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :format, class: 'form-label' %>
    <% Tournament::FORMAT_OPTIONS.each do |option| %>
      <div class="form-check"
      <%= form.check_box(:format, { :multiple => true, class: 'form-check-input' }, option) %>
      <%= form.label option.capitalize, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :participants, class: 'form-label' %>
    <% Tournament::PARTICIPANTS_OPTIONS.each do |participants| %>
      <div class="form-check"
        <%= form.check_box(:participants, { :multiple => true, class: 'form-check-input' }, participants) %>
        <%= form.label participants.capitalize, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :flyer_url, class: 'form-label' %>
    <%= form.text_field :flyer_url, class: 'form-control' %>
  </div>

  <h2>Host</h2>

  <%= form.fields_for :host_attributes do |host| %>
    <div class="mb-3">
      <%= host.label :name, class: 'form-label' %>
      <%= host.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= host.label :email, class: 'form-label' %>
      <%= host.text_field :email, class: 'form-control', type: 'email' %>
    </div>

    <div class="mb-3">
      <%= host.label :phone, class: 'form-label' %>
      <%= host.text_field :phone, class: 'form-control', type: 'tel' %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary back' %>
  </div>
<% end %>
