<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :alley_id, class: 'form-label' %>
    <%= form.select(:alley_id,
                    options_for_select(@alleys.map{|a| ["#{a.name} - #{a.address.city}, #{a.address.state}", a.id]}),
                    { },
                    {class: 'form-control selectpicker', prompt: 'Select One', 'data-live-search': "true"}
        )
    %>
    <small id="emailHelp" class="form-text text-primary"><%= link_to 'Alley not found? Add new Alley', new_alley_path %></small>
  </div>
  <div class="form-group">
    <%= form.label :starts_at, class: 'form-label' %>
    <%= form.datetime_select :starts_at, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :difficulty, class: 'form-label' %>
    <% Tournament::DIFFICULTY_OPTIONS.each do |option| %>
      <div class="form-radio">
        <%= form.radio_button(:difficulty, option, { id: option, class: 'form-radio-input' } ) %>
        <%= form.label option.capitalize, for: option, class: 'form-radio-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :events, class: 'form-label' %>
    <% Tournament::EVENT_OPTIONS.each do |option| %>
      <div class="form-check"
      <%= form.check_box(:events, { id: option, :multiple => true, class: 'form-check-input', checked: tournament&.events&.include?(option.to_s) }, option) %>
      <%= form.label option.capitalize, for: option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :participants, class: 'form-label' %>
    <% Tournament::PARTICIPANTS_OPTIONS.each do |participant_option| %>
      <div class="form-check"
        <%= form.check_box(:participants, { id: participant_option, :multiple => true, class: 'form-check-input', checked: tournament&.participants&.include?(participant_option.to_s) }, participant_option) %>
        <%= form.label participant_option.capitalize, for: participant_option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :flyer_url, class: 'form-label' %>
    <%= form.text_field :flyer_url, class: 'form-control' %>
  </div>

  <h2>Contact Info</h2>

  <div class="form-group">
    <%= form.label :contact_name, class: 'form-label' %>
    <%= form.text_field :contact_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_email, class: 'form-label' %>
    <%= form.text_field :contact_email, class: 'form-control', type: 'email' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_phone, class: 'form-label' %>
    <%= form.text_field :contact_phone, class: 'form-control', type: 'tel' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary back' %>
  </div>
<% end %>
