<%= javascript_pack_tag 'tournament_form', 'data-turbolinks-track': 'reload' %>

<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <strong><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</strong>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :alley_id, class: 'form-label' %>
    <%= form.select(:alley_id,
                    options_for_select(@alleys.map{|a| ["#{a.name} - #{a.city}, #{a.state}", a.id]}),
                    { },
                    {id: 'tournament_alley_id', class: 'form-control selectpicker', prompt: 'Select One', 'data-live-search': "true"}
        )
    %>
    <small id="emailHelp" class="form-text text-primary"><%= link_to 'Alley not found? Add new Alley', new_alley_path %></small>
  </div>

  <div class="form-group">
    <div class="form-label">Date</div>
    <%= form.text_field :start_date, type: 'date', class: 'form-control', min: Date.today, value: date_from_datetime(@tournament.starts_at) %>

  </div>

  <div class="form-group">
    <div class="form-label">Start Time</div>
    <%= form.text_field :start_time, type: 'time', class: 'form-control', value: time_from_datetime(@tournament.starts_at) %>
  </div>

  <div class="form-group">
    <%= form.label :difficulty, class: 'form-label' %>
    <% Tournament::DIFFICULTY_OPTIONS.each do |option| %>
      <div class="form-radio">
        <%= form.radio_button(:difficulty, option, { id: option, class: 'form-radio-input' } ) %>
        <%= form.label option.capitalize, for: option, class: 'form-radio-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :events, class: 'form-label' %>
    <% Tournament::EVENT_OPTIONS.each do |option| %>
      <div class="form-check"
      <%= form.check_box(:events, { id: option, :multiple => true, class: 'form-check-input', checked: tournament&.events&.include?(option.to_s) }, option) %>
      <%= form.label option.capitalize, for: option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :participants, class: 'form-label' %>
    <% Tournament::PARTICIPANTS_OPTIONS.each do |participant_option| %>
      <div class="form-check"
        <%= form.check_box(:participants, { id: participant_option, :multiple => true, class: 'form-check-input', checked: tournament&.participants&.include?(participant_option.to_s) }, participant_option) %>
        <%= form.label participant_option.capitalize, for: participant_option, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <h2>Contact Info</h2>

  <div class="form-group">
    <%= form.label :contact_name, class: 'form-label' %>
    <%= form.text_field :contact_name, class: 'form-control', value: tournament&.contact_name || current_user.full_name %>
  </div>

  <div class="form-group">
    <%= form.label :contact_email, class: 'form-label' %>
    <%= form.text_field :contact_email, class: 'form-control', type: 'email', value: tournament&.contact_email || current_user.email %>
  </div>

  <div class="form-group">
    <%= form.label :contact_phone, class: 'form-label' %>
    <%= form.text_field :contact_phone, class: 'form-control', type: 'tel', value: tournament&.contact_phone || current_user.phone_number %>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label class="btn btn-primary">
          Upload a flyer
          <span style="display:none;">
            <%= form.file_field :flyer, required: false, multiple: false  %>
          </span>
        </label>
        <small id="imageHelp" class="form-text">png, jpeg, jpg, or pdf</small>
      </div>
    </div>
    <div class="col-8">
      <% if @tournament.flyer.attached? %>
        <%= image_tag(@tournament.flyer, width: 500) %>
        <br>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>
