<p id="notice"><%= notice %></p>

<%= javascript_pack_tag 'tournaments', 'data-turbolinks-track': 'reload' %>

<h1>Tournaments</h1>
<form id="search-form">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-normal">
        <%= label_tag('Zip Code', nil, class: 'label') %>
        <div class="control">
          <%= text_field_tag(:zip_code, nil, class: 'input') %>
        </div>
      </div>
      <div class="field is-normal">
        <%= label_tag('Search Radius (miles)', nil, class: 'label') %>
        <div class="control">
          <%= select_tag(:miles, options_for_select([5,15,25, 50, 100, 250, 1000], 50), class: 'select') %>
        </div>
      </div>
      <div class="field is-normal">
        <%= label_tag('Months in Advance', nil, class: 'label') %>
        <div class="control">
          <%= select_tag(:months, options_for_select((1..12), 3), class: 'select') %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions" id="search-div">
    <a id="search" class="button is-primary" onclick="submitSearch()">Search</a>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alley</th>
      <th>Starts at</th>
      <th>Format</th>
      <th>Participants</th>
      <th>Flyer url</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.alley_id %></td>
        <td><%= tournament.starts_at %></td>
        <td><%= tournament.format %></td>
        <td><%= tournament.participants %></td>
        <td><%= tournament.flyer_url %></td>
        <td><%= tournament.contact_id %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path, class: 'button is-primary' %>
