<p id="notice"><%= notice %></p>

<%= javascript_pack_tag 'tournaments', 'data-turbolinks-track': 'reload' %>

<div class="row">
  <div class="col-md-9">
    <h1>Tournaments</h1>
  </div>
  <div class="col-md-3">
    <% if user_signed_in? %>
      <div class="actions">
        <%= button_to 'Add Tournament', new_tournament_path, class: 'btn btn-primary', method: 'get' %>
      </div>
    <% end %>
  </div>
</div>
<form id="search-form">
  <div class="row">
    <div class="col-md-4 form-group">
        <%= label_tag('Zip Code', nil, for: 'zip_code', class: 'form-label') %>
        <%= text_field_tag(:zip_code, nil, class: 'input form-control') %>
    </div>
    <div class="col-md-4 form-group">
        <%= label_tag('Search Radius (miles)', nil, for: 'miles', class: 'form-label') %>
        <%= select_tag(:miles, options_for_select([5,15,25, 50, 100, 250, 1000], 50), class: 'selectpicker form-control') %>
    </div>
    <div class="col-md-4 form-group">
        <%= label_tag('Months in Advance', nil, for: 'months', class: 'form-label') %>
        <%= select_tag(:months, options_for_select((1..12), 3), class: 'selectpicker form-control') %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 actions" id="search-div">
      <button id="search" class="btn btn-primary" type="submit" onclick="submitSearch()">Search</button>
      <button id="clear" class="btn btn-secondary back" type="submit" onclick="clearSearch()">Clear</button>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alley</th>
      <th>Starts at</th>
      <th>Events</th>
      <th>Difficulty</th>
      <th>Participants</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.alley.readable %></td>
        <td><%= tournament.starts_at %></td>
        <td><%= tournament.events.map(&:capitalize).join(', ') %></td>
        <td><%= tournament.difficulty.capitalize %></td>
        <td><%= tournament.participants.map(&:capitalize).join(', ') %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
