<%= javascript_pack_tag 'alleys', 'data-turbolinks-track': 'reload' %>

<%= form_with(model: alley) do |form| %>
  <% if alley.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alley.errors.count, "error") %> prohibited this alley from being saved:</h2>

      <ul>
        <% alley.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <h4 class="subtitle is-4">Address</h4>
  <%= form.fields_for :address_attributes do |address| %>
    <div class="mb-3">
      <%= address.label :street_address, class: 'form-label' %>
      <%= address.text_field :street_address, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= address.label :secondary_address, class: 'form-label' %>
      <%= address.text_field :secondary_address, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= address.label :city, class: 'form-label' %>
      <%= address.text_field :city, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :state, class: 'form-label' %>
      <%= form.select(:state,
                      options_for_select(states_option),
                      { },
                      {class: 'form-control selectpicker', prompt: 'Select State', 'data-live-search': "true"}
          )
      %>
    </div>

    <div class="mb-3">
      <%= address.label :zip_code, class: 'form-label' %>
      <%= address.text_field :zip_code, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>
