<%= form_with(url: settings_path, method: :put, model: @user_setting) do |form| %>



  <% if user_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_setting.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

      <ul>
        <% user_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code %>
  </div>

  <div class="field">
    <%= form.label :notification_search_radius %>
    <%= form.number_field :notification_search_radius %>
  </div>

  <div class="field">
    <%= form.label :notification_period %>
    <%= form.text_field :notification_period %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
