<%= form_with(url: settings_path, method: :put, model: @user_setting) do |form| %>

  <% if user_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_setting.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

      <ul>
        <% user_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :zip_code, class: 'form-label' %>
    <%= form.text_field :zip_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :notification_search_radius, class: 'form-label' %>
    <br />
    <% UserSetting::NOTIFICATION_SEARCH_RADIUS.each do |radius| %>
      <div class="form-check form-check-inline">
        <%= form.radio_button(:notification_search_radius, radius, { id: "radius-#{radius}", class: 'form-check-input' } ) %>
        <%= form.label radius > 0 ? pluralize(radius, 'mile') : "No Distance Restriction", for: "radius-#{radius}", class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :notification_period, class: 'form-label', class: 'form-label' %>
    <br />
    <% UserSetting::NOTIFICATION_PERIODS.each do |period| %>
      <div class="form-check form-check-inline"
        <%= form.check_box(:notification_period, { id: "period-#{period}", :multiple => true, class: 'form-check-input' }, period) %>
        <%= form.label period > 0 ? pluralize(period, 'day') : "No Notifications", for: "period-#{period}", class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>
