<p id="notice"><%= notice %></p>

<p>
  <strong>Zip Code:</strong>
  <%= @user_setting.zip_code %>
</p>

<p>
  <strong>Notification search radius:</strong>
  <%= @user_setting.notification_search_radius %>
</p>

<p>
  <strong>Notification period:</strong>
  <%= @user_setting.notification_period %>
</p>

<%= link_to 'Edit', edit_settings_path %> |
<%= link_to 'Back', settings_path %>
